$primaryColor:  #388E3C;
$secondColor:   #8BC34A;
$thirdColor:    #DCE775;
$fourthColor:   #FFF59D;

$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;

$lightTextColor: #c3c3c3;
$darkTextColor:  #212121;

//dates colors
$low: #f44336;
$mid: #ffc107;
$high: #4caf;
