nav.nav-d {
 background-color:#388e3c;
 line-height:63px
}
nav.nav-d i.left {
 margin-right:5px
}
nav.nav-d img.avatar {
 width:32px;
 height:32px;
 -o-object-fit:cover;
 object-fit:cover;
 vertical-align:middle
}
nav.nav-d a.notifications-box {
 position:relative
}
nav.nav-d a.notifications-box .badge_notification {
 top:34px;
 right:6px;
 position:absolute;
 background-color:#fff;
 color:#fff;
 width:22px;
 height:22px;
 border-radius:50%;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 font-size:12px;
 background:#ef5350
}
nav.nav-d .search-box,nav.nav-d a.notifications-box .badge_notification {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
nav.nav-d .search-box {
 position:relative;
 -webkit-box-pack:end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 height:64px
}
@media (max-width:601px) {
 nav.nav-d .search-box {
  height:54px
 }
}
nav.nav-d .search-box input[type=text] {
 background-color:hsla(0,0%,100%,.3);
 border:none;
 color:#4d4d4d;
 width:100px;
 height:35px;
 margin:0;
 padding-left:10px;
 padding-right:35px;
 border-radius:3px;
 box-shadow:none
}
nav.nav-d .search-box i,nav.nav-d .search-box input[type=text] {
 -webkit-transition:all .4s ease-in-out;
 transition:all .4s ease-in-out
}
nav.nav-d .search-box i {
 position:absolute;
 cursor:pointer;
 top:0;
 right:5px;
 -webkit-transform:rotateY(180deg);
 transform:rotateY(180deg)
}
nav.nav-d .search-box .results {
 line-height:normal;
 position:absolute;
 border-radius:3px;
 top:54px;
 right:0;
 background:#fff;
 color:#4d4d4d;
 z-index:9;
 width:360px;
 font-size:14px;
 display:none
}
@media (max-width:412px) {
 nav.nav-d .search-box .results {
  width:100vw;
  right:-55px
 }
}
nav.nav-d .search-box .results .indications {
 padding:15px
}
nav.nav-d .search-box .results .list-r {
 max-height:calc(100vh - 102px);
 overflow:auto;
 overflow:overlay
}
nav.nav-d .search-box .results .list-r article {
 overflow-x:hidden;
 cursor:pointer;
 border-bottom:1px solid #e0e0e0;
 padding:10px 15px;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
nav.nav-d .search-box .results .list-r article:last-child {
 border-bottom:none
}
nav.nav-d .search-box .results .list-r article:hover {
 background-color:hsla(0,0%,50%,.1)
}
nav.nav-d .search-box .results .list-r article .assignedTo {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
nav.nav-d .search-box .results .list-r article .assignedTo img.avatar {
 width:50px;
 height:50px;
 border-radius:50%;
 -o-object-fit:cover;
 object-fit:cover
}
nav.nav-d .search-box .results .list-r article .assignedTo .otherinfo {
 margin-left:15px;
 margin-bottom:5px
}
nav.nav-d .search-box .results .list-r article span.info {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 line-height:1.4
}
nav.nav-d .search-box .results .cont-loading,nav.nav-d .search-box .results .empty {
 text-align:center;
 padding:10px;
 margin-bottom:10px
}
nav.nav-d .search-box.active input[type=text] {
 width:100%;
 background:hsla(0,0%,100%,.9);
 color:#4d4d4d
}
nav.nav-d .search-box.active i {
 color:#4d4d4d
}
nav.nav-d .search-box.active .results {
 display:initial
}
